<div>
    <h1>Productos</h1>
    <div class="row">
        <div class="col-12 d-flex flex-wrap" id="product-list">
            {{#each products}}
                <div class="cartProduct m-2">
                    <h2>{{this.name}}</h2>
                    <p>{{this.description}}</p>
                    <p>Código: {{this.code}}</p>
                    <p>Precio: {{this.price}}</p>
                    <p>Disponible: {{this.stock}}</p>
                    <p></p>
                    <p>Categoría: {{this.category}}</p>
                </div>
            {{/each}}
        </div>
    </div>
</div>